Package: ovn-docker
Source: openvswitch
Version: 2.10.2-1
Architecture: amd64
Maintainer: Open vSwitch developers <dev@openvswitch.org>
Installed-Size: 63
Depends: openvswitch-switch (= 2.10.2-1), openvswitch-common (= 2.10.2-1), python (>= 2.7), python-openvswitch (= 2.10.2-1), ovn-common (= 2.10.2-1)
Section: net
Priority: extra
Homepage: http://openvswitch.org/
Description: OVN Docker drivers
 OVN, the Open Virtual Network, is a system to support virtual network
 abstraction.  OVN complements the existing capabilities of OVS to add
 native support for virtual network abstractions, such as virtual L2 and L3
 overlays and security groups.
 .
 ovn-docker provides the docker drivers for OVN.
