Package: openvswitch-ipsec
Source: openvswitch
Version: 2.5.5-1
Architecture: amd64
Maintainer: Open vSwitch developers <dev@openvswitch.org>
Installed-Size: 98
Depends: ipsec-tools (>= 0.8~alpha20101208), iproute2, openvswitch-common (= 2.5.5-1), openvswitch-switch (= 2.5.5-1), python, python-openvswitch (= 2.5.5-1), racoon (>= 0.8~alpha20101208)
Section: net
Priority: extra
Homepage: http://openvswitch.org/
Description: Open vSwitch GRE-over-IPsec support
 Open vSwitch is a production quality, multilayer, software-based,
 Ethernet virtual switch. It is designed to enable massive network
 automation through programmatic extension, while still supporting
 standard management interfaces and protocols (e.g. NetFlow, IPFIX,
 sFlow, SPAN, RSPAN, CLI, LACP, 802.1ag). In addition, it is designed
 to support distribution across multiple physical servers similar to
 VMware's vNetwork distributed vswitch or Cisco's Nexus 1000V.
 .
 The ovs-monitor-ipsec script provides support for encrypting GRE
 tunnels with IPsec.
