Package: openvswitch-datapath-dkms
Source: openvswitch
Version: 2.5.5-1
Architecture: all
Maintainer: Open vSwitch developers <dev@openvswitch.org>
Installed-Size: 30323
Depends: dkms (>= 1.95), libc6-dev, make
Section: net
Priority: extra
Homepage: http://openvswitch.org/
Description: Open vSwitch datapath module source - DKMS version
 Open vSwitch is a production quality, multilayer, software-based,
 Ethernet virtual switch. It is designed to enable massive network
 automation through programmatic extension, while still supporting
 standard management interfaces and protocols (e.g. NetFlow, IPFIX,
 sFlow, SPAN, RSPAN, CLI, LACP, 802.1ag). In addition, it is designed
 to support distribution across multiple physical servers similar to
 VMware's vNetwork distributed vswitch or Cisco's Nexus 1000V.
 .
 This package provides the Open vSwitch datapath module source code
 that is needed by openvswitch-switch.  DKMS can built the kernel
 module from it.
