Package: openvswitch-common
Source: openvswitch
Version: 2.5.5-1
Architecture: amd64
Maintainer: Open vSwitch developers <dev@openvswitch.org>
Installed-Size: 2246
Depends: openssl, python, python (>= 2.7) | python-argparse, libc6 (>= 2.14), libssl1.0.0 (>= 1.0.0)
Suggests: ethtool
Section: net
Priority: extra
Homepage: http://openvswitch.org/
Description: Open vSwitch common components
 Open vSwitch is a production quality, multilayer, software-based,
 Ethernet virtual switch. It is designed to enable massive network
 automation through programmatic extension, while still supporting
 standard management interfaces and protocols (e.g. NetFlow, IPFIX,
 sFlow, SPAN, RSPAN, CLI, LACP, 802.1ag). In addition, it is designed
 to support distribution across multiple physical servers similar to
 VMware's vNetwork distributed vswitch or Cisco's Nexus 1000V.
 .
 openvswitch-common provides components required by both openvswitch-switch
 and openvswitch-testcontroller.
