Package: openvswitch-test
Source: openvswitch
Version: 2.5.5-1
Architecture: all
Maintainer: Open vSwitch developers <dev@openvswitch.org>
Installed-Size: 142
Depends: python (>= 2.7), python-twisted-web, python (<< 2.8)
Section: net
Priority: extra
Homepage: http://openvswitch.org/
Description: Open vSwitch test package
 Open vSwitch is a production quality, multilayer, software-based,
 Ethernet virtual switch. It is designed to enable massive network
 automation through programmatic extension, while still supporting
 standard management interfaces and protocols (e.g. NetFlow, IPFIX,
 sFlow, SPAN, RSPAN, CLI, LACP, 802.1ag). In addition, it is designed
 to support distribution across multiple physical servers similar to
 VMware's vNetwork distributed vswitch or Cisco's Nexus 1000V.
 .
 This package contains utilities that are useful to diagnose
 performance and connectivity issues in Open vSwitch setup.
